    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: #f2f2f2;
    }

    /* Navbar */
    .navbar {
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      border-bottom: 1px solid #ddd;
    }

    .navbar-left {
      display: flex;
      align-items: center;
    }

    .navbar-left img{
      height: 40px;
      margin-right: 10px;
    }
    .img{
        height: 17px;
    }

    .navbar-left h2 {
      color: #0b421b;
      font-size: 20px;
    }

    .navbar-right {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .icon-box {
      background: #f0fff0;
      padding: 5px 12px;
      border-radius: 20px;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;
    }

    .btn-copy {
      background: #2e7d32;
      color: #fff;
      padding: 8px 16px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
    }

    /* Main Section */
    .main-section {
      background: linear-gradient(to right, #1c3f2a, #295f43);
      text-align: center;
      padding: 40px 20px;
      color: white;
    }

    .main-section img {
      height: 80px;
      margin-bottom: 20px;
    }

    .main-section h1 {
      font-size: 28px;
      margin-bottom: 10px;
    }

    .main-section p {
      font-size: 14px;
      max-width: 600px;
      margin: 0 auto;
    }



    /* card */



     .container {
      display: flex;
      gap: 20px;
      padding: 20px;
    }

    .cards-section {
      flex: 3;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px;
    }

    .card {
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-header img {
      width: 40px;
      height: 40px;
      background: #ffecec;
      padding: 8px;
      border-radius: 10px;
    }

    .card-header span {
      font-size: 20px;
      cursor: pointer;
    }

    .card h3 {
      margin: 10px 0 5px;
      font-size: 16px;
    }

    .card p {
      font-size: 13px;
      color: gray;
      margin-bottom: 8px;
    }

    .card .number {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .tag {
      display: inline-block;
      max-width: 20%;
      padding: 3px 10px;
      font-size: 12px;
      border-radius: 12px;
      background: #f0f0f0;
      margin-bottom: 12px;
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .card-footer button {
      flex: 1;
      padding: 8px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
    }

    .btn-light {
      background: #f5f5f5;
    }

    .btn-green {
      background: #2e7d32;
      color: #fff;
    }

    /* Sidebar */
    .sidebar {
      flex: 1;
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      height: fit-content;
    }

    .sidebar h3 {
      font-size: 16px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .clear-btn {
      background: #2e7d32;
      color: #fff;
      border: none;
      padding: 5px 12px;
      border-radius: 12px;
      cursor: pointer;
      font-size: 12px;
    }

    .history-item {
      padding: 8px;
      /* border-radius: 5px solid #3b2121; */
      /* border-style: solid; */
      background-color: #FAFAFA;
      margin-bottom: 9px;
      border-radius: 7px red;
      display: flex;
      justify-content: space-between;
    }

    .history-item:last-child {
      border-bottom: none;
    }

    .history-item p {
      font-size: 13px;
      margin-bottom: 3px;
    }

    .history-item span {
      font-size: 11px;
      color: gray;
    }